.submit_button {
    font-size: 20px;
    margin-left: 20%;
    margin-top: 20px;
    border: 5px solid white;
    height: 60px;
    width: 60%;
    text-align: center;
}

.quiz-question-container {
    width: 100%;
    max-width: none;
}

.quiz-question-text-container {
    text-align: center;
}

input[type=radio] {
    /* To hide radio button */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.quiz-answer-list {
    width: 100%;
    list-style-type: none;
    padding-left: 0px;
}

.quiz-question-text-item {
    max-width: 100%;
    font-size: 24px;
    line-height: 32px;
}

.quiz-answer-text-container {
    position: relative;
}

.quiz-answer-text-container-single {
    opacity: 1;
    will-change: opacity;
    border-radius: 4px;
    min-width: 75px;
    min-height: 40px;
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding: 4px 12px 4px;
    margin-top: 5px;
}

.quiz-answer-text-container-single:hover {
    background-color: rgba(115, 190, 200, 0.3);
    cursor: pointer;
}

.quiz-answer-text-container-single:hover .press-key-label {
    display: inherit;
}

.quiz-answer-text-container-single:hover .numerator-radio {
    border-radius: 0 50% 50% 0;
}

.question-type-single {
    box-shadow: rgba(115, 190, 200, 0.6) 0 0 0 1px inset;
}

.selected-answer {
    background-color: rgba(115, 190, 200, 0.4);
    color: #0074ba;
    box-shadow: rgba(62, 96, 138, 1) 0 0 0 1px inset;
}

.question_div {
    margin-bottom: 10px;
}